@using Microsoft.AspNetCore.Identity
@using OnlineDiary.Areas.Identity.Data

@inject SignInManager<OnlineDiaryUser> SignInManager
@inject UserManager<OnlineDiaryUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <font face="Times New Roman" color="#CD5C5C" size="4">Hello @UserManager.GetUserName(User)!</font>
            </a>
    </li>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  onsubmit="return confirm('Are you sure you want to log out?');">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                <font face="Times New Roman" color="#CD5C5C" size="4">Register</font>
            </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <font face="Times New Roman" color="#CD5C5C" size="4">Login</font>
            </a>
    </li>
}
</ul>
